.container{
    background-image:linear-gradient(#2eb6df,white);
    
    width:100%;
    padding:20px;
    text-align:center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    font-family: Arial;
    
}
body {
    margin: 0;
    height: 100vh;

    
}
.heading{
    color:rgb(8, 56, 8);
    font-size:35px;
    font-weight:bold;

}
.para{
    color:purple;
    font-size:30px;
    padding:10px;
    font-weight:bold;
}
.board {
    display: grid;
    text-align:center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    background-color: rgb(228, 217, 217);
    border: 2px solid black;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}
.scoreboard{
    padding:10px;
    margin:10px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.score{
    background-color: rgb(32, 32, 188);
    color:white;
    padding:18px;
    margin:15px;
    width:150px;
    font-size:25px;
}
.score1{
    background-color:red;
    color:white;
    padding:18px;
    width:150px;
    margin:15px;
    font-size:25px;
}
.button{
    background-image:linear-gradient(gold,rgb(207, 98, 116));
    border-radius:20px;
    width:150px;
    color:white;
    font-weight:bold;
    border-width:0px;
    font-size:17px;
    margin:5px;
    padding:15px;

}